<article class="post">
    <div class="container">
        <div class="row, title">
            <div class="col-12 align-self-start">
                <a href="/post/{{id}}">{{title}}</a>
            </div>
        </div>
        <div class="row, title">
            <div class="col-12 align-self-start">
                {{post_text}}
            </div>
        </div>
        <div class="row, meta">
            <div class="col-12 align-self-start">
                By {{user.username}} on {{format_date created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </div>
    </div>
</article>